
body 
{
    background-color: #2c2a24;
}

.main_container
{
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    margin-left: 130px;
    margin-right: 130px;

    background-color: aqua;
}

.div_gornji_main
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 20px;
    height: 100px;

    background-color: red;
}

.div_donji_main
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 20px;

    background-color: green;
}